pandas
yfinance>=0.2.28
mplfinance
streamlit
requests


# On Windows Create Environment!
# python -m venv screenerenv 
# stockenv\Scripts\activate

# 2. Install requirements using pip
# pip install -r requirements.txt

#3. Run the application
# streamlit run app.py